<!-- 

Page Description: This is first page to show day wise with buyer division filtering

-->

<!-- User Define Functions-->
@functions {

        // To set the background color of cell for single window summary sheet
        string FSP_STATUS_CODE_CELL_BG(string cust_code)
        {
            var msg = "bgcolor=";
            switch(cust_code)
            {
                
                case "Available":
                {
                    msg+="#33FF33";
                    break;
                }

                 case "1":
                {
                    msg+="#33FF33";
                    break;
                }

                case "Not Available":
                {
                    msg+="RED";
                    break;
                }

                 case "No Plan":
                {
                    msg+="BLACK";
                    break;
                }

                case "50":
                {
                    msg+="#FFFF22";
                    break;
                }
                case "45":
                {
                    msg+="#33CCEE";
                    break;
                }
                case "35":
                {
                    msg+="#FF66CC";
                    break;
                }
                case "20":
                {
                    msg+="#CCCCCC";
                    break;
                }
                case "10":
                {
                    msg+="#CCCCCC";
                    break;
                }
                case "Excempted":
                {
                    msg+="#99AAEE";
                    break;
                }
                case "Not Updated":
                {
                    msg+="#99AAEE";
                    break;
                }
            }
            return msg;
        }


      }



<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>FR Plan Summary</title>

        @RenderPage(Page.scripts_include_head)

        <script>
            function local_redirect(page_id, schedule)
            {
                var filter;
                filter = "";
                if (document.getElementById("show_pendings").checked)
                {
                    filter = '&show_pendings=1';
                }
                
                //$().redirect(page_id, { 'schedule': schedule});
                basicPopup(page_id + '?schedule=' + schedule+filter);
            }
            function local_open_file(page_id)
            {
                //$().redirect(page_id, { 'schedule': schedule});
                //basicPopup('file_uploads/' + page_id + '.pdf',page_id);
                basicPopup('file_uploads/' + page_id);
            }
            function local_upload_redirect(page_id, schedule, style, color, fr_pool_tid, status, call_type, file_id)
            {
                //$().redirect(page_id, { 'schedule': schedule});
                basicPopup(page_id + '?schedule=' + schedule + '&style=' + style + '&color=' + color + '&fr_pool_tid=' + fr_pool_tid + '&status=' + status + '&call_type=' + call_type + '&file_id=' + file_id);
            }
        </script>

        <!--  To retrive message from popup -->
        <script>
            function HandlePopupResult(result)
            {
                alert("Successfully Uploaded");
                //alert("result of popup is: " + result);
                document.getElementById('TR_'+result).innerHTML = 'REFRESH';
                document.getElementById('CC_'+result).innerHTML = 'REFRESH';
            }
        </script>

        <!-- Table Filter -->

    <script src="@Href("~/scripts/TableFilter_EN/TableFilter/tablefilter_all_min.js")" language="javascript" type="text/javascript"></script>
    <script src="@Href("~/scripts/TableFilter_EN/TableFilter/TFExt_ColsVisibility/TFExt_ColsVisibility/TFExt_ColsVisibility.js")" language="javascript" type="text/javascript"></script>

    <link href="@Href("~/scripts/TableFilter_EN/TableFilter/filtergrid.css")" rel="stylesheet" type="text/css" id="demo_style">

    <link href="@Href("~/scripts/TableFilter_EN/TableFilter/TFExt_ColsVisibility/TFExt_ColsVisibility//TFExt_ColsVisibility.css")" rel="stylesheet" type="text/css" id="ColsVisibilityStyle">

    <style>
        #tablefilter {
            font-size: 12px;
        }
        
    </style>

    <!-- Table Filter -->
    </head>
    <body>
        @{
            db_object db_class=new db_object();

                string sdate="";
                string edate="";
                string buyer="";
                string highlight_excempted="0";
                int check=0;

                if(Request["sdate"]!=null){
                    sdate=Request["sdate"];
                }
                if(Request["edate"]!=null){
                    edate=Request["edate"];
                }
                if(Request["buyer"]!=null){
                    buyer=Request["buyer"];
                }
                if(Request["highlight_excempted"]!=null){
                    highlight_excempted=Request["highlight_excempted"];
                }

                DateTime d = DateTime.Now;
                string date_up_limit=d.AddDays(Page.report_period_range).ToString("yyyy-MM-dd").ToString();
                
                if(DateTime.Parse(edate)>DateTime.Parse(date_up_limit))
                {
                    edate=date_up_limit;
                }

         }    
             <span id="spnColMng"></span>
            <table  id="tablefilter" cellpadding="0" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Buyer<br/>Division</th>
                    <th>Buyer Code</th>
                    <th>Style Code</th>
                    <th>Style</th>
                    <th>Schedule</th>
                    <th>Color</th>
                    <th>Order Qty</th>
                    <th>Output Qty</th>
                    <th>Production<br/>Start Date</th>
                    <th>Ex-Factory<br/>Date</th>
                    <th>Planned<br/>Module</th>
                    <th>Cut Distribution<br/>Plan Status</th>
                    <th>Total Jobs</th>
                    <th>Planned Jobs</th>
                    <th>Fabric Status</th>
                    <th>Sewing Trims<br/>Status</th>
                    <th>Packing Trims<br/>Status</th>
                    <th>Overall<br/>Status</th>
                    <th>Input <br/>Status</th>
                    <th>CC Chart</th>
                    <th>Trim Card</th>
                    <th>Embellishment</th>

                    <!--
                    New Code for day wise plan
                    -->
                    @{
                        //Date
                        var result_set_new=db_class.show_result("BEK_DBS_RMW_0001","select distinct CONVERT(VARCHAR(11),production_date,6) as production_date from [BEK_DBS_RMW_0001].[dbo].[T_0001_002_FRPLAN] where  production_date between '"+sdate+"' and '"+edate+"' order by production_date");  
                               
                        foreach(var record in result_set_new)
                        {   
                            <th>@(record.production_date)</th>
                        }          
                  
                    }

                </tr>
                </thead>
                <tbody>
          @{ 
               

                
                //Select to be prepared bom details from FR Pool View
                var result_set=db_class.show_result("BEK_DBS_RMW_0001","exec [BEK_DBS_RMW_0001].[dbo].[S_0001_016_SP_REP_FR5]  @sdate='"+sdate+"',@edate='"+edate+"',@buyer='"+buyer+"'"+",@highlight_excempted='"+highlight_excempted+"'");  
                
                var cc_file_name="";
                var tr_file_name="";    
                
                foreach(var record in result_set)
                {             
                  
                    <tr>
                        @{
                            var bgcolor="bgcolor=#33FF33";                    
                            if(record.overall_status=="FAIL")
                            {
                                bgcolor="bgcolor=#FFFFFF";
                            }
                         }

                        <td @bgcolor>@record.sfcs_buyer_div</td>
                        <td @bgcolor>@record.buyer_stat_code</td>
                        <td @bgcolor>@record.user_def_style</td>
                        <td @bgcolor>@record.style</td>
                        <td @bgcolor><span class="redirectpage" onclick="local_redirect('PRJ_RMW_0001_S_0012_REP_FORMAT_3_NEW.cshtml','@record.schedule')">@Html.Raw(@record.excempted_count!=0?"<font color=red fontsize=18>&#9830;</font>":"") @record.schedule</span></td>
                        <td @bgcolor>@record.color</td>
                        <td @bgcolor>@record.sfcs_order_qty</td>
                        <td @bgcolor>@record.sfcs_out_qty</td>
                        <td @bgcolor>@record.production_date</td>
                        <td @bgcolor>@record.delivery_date</td>
                        <td @bgcolor>@record.grouped_module</td>
                        <td @bgcolor>@(record.sfcs_tot_jobs!="0"?"Done":(record.sfcs_lay_pre_status=="1"?"Prepared":"Pending"))</td>
                        <td @bgcolor>@record.sfcs_tot_jobs</td>
                        <td @bgcolor>@record.sfcs_planned_jobs</td>
                        <td @FSP_STATUS_CODE_CELL_BG(record.fab_status)>@record.fab_status</td>
                        <td @FSP_STATUS_CODE_CELL_BG(record.strim_status)>@record.strim_status</td>
                        <td @FSP_STATUS_CODE_CELL_BG(record.ptrim_status)>@record.ptrim_status</td>
                         
                        <td @bgcolor>@record.overall_status</td> 
                        <td @bgcolor>@record.input_status</td>
                        <td @bgcolor>
                            <span id="CC_@record.fr_pool_tid"> 
                                   @{
                                        //Upload Access
                                        if(record.cc_status==null || record.cc_status==0)
                                        {
                                           <span class="redirectpage" onclick="local_upload_redirect('PRJ_RMW_0001_P_0033_CC_UPLOAD.cshtml','@record.schedule','@record.style','@record.color','@record.fr_pool_tid','0','CC Chart','@record.cc_fid')">0</span>
                                        }                                                                                                                                                         else
                                        {
                                            <span class="redirectpage" onclick="local_upload_redirect('PRJ_RMW_0001_P_0033_CC_UPLOAD.cshtml','@record.schedule','@record.style','@record.color','@record.fr_pool_tid','@record.cc_status','CC Chart','@record.cc_fid')">@record.cc_status</span>
                                        }  
                                      } 
                                   @{
                                        //Open File
                                        if(record.cc_status!=null && record.cc_status!=0)
                                        {
                                           
                                           if(record.cc_fid>0)
                                           {
                                           cc_file_name=record.cc_fid+db_class.show_value("BEK_DBS_RMW_0001","select right([file_name],4) as value from [BEK_DBS_RMW_0001].[dbo].[T_0001_019_TR_CC_FILE_REF] where file_id="+record.cc_fid); }
                                           <span class="redirectpage" onclick="local_open_file('@cc_file_name')">FILE</span>
                                           cc_file_name="";
                                        } 
                                    }
                            </span>
                        </td> 
                        <td @bgcolor>
                            <span id="TR_@record.fr_pool_tid"> 
                                   @{
                                        //Upload Access
                                        if(record.tr_status==null || record.tr_status==0)
                                        {
                                           <span class="redirectpage" onclick="local_upload_redirect('PRJ_RMW_0001_P_0033_CC_UPLOAD.cshtml','@record.schedule','@record.style','@record.color','@record.fr_pool_tid','0','TR Card','@record.tr_fid')">0</span>
                                        }                                                                                                                                                         else
                                        {
                                            <span class="redirectpage" onclick="local_upload_redirect('PRJ_RMW_0001_P_0033_CC_UPLOAD.cshtml','@record.schedule','@record.style','@record.color','@record.fr_pool_tid','@record.tr_status','TR Card','@record.tr_fid')">@record.tr_status</span>
                                        }  
                                      } 
                                   @{
                                        //Open File
                                        if(record.tr_status!=null && record.tr_status!=0)
                                        {
                                           if(record.tr_fid>0)
                                           {
                                           tr_file_name=record.tr_fid+db_class.show_value("BEK_DBS_RMW_0001","select right([file_name],4) as value from [BEK_DBS_RMW_0001].[dbo].[T_0001_019_TR_CC_FILE_REF] where file_id="+record.tr_fid); }
                                            <span class="redirectpage" onclick="local_open_file('@tr_file_name')">FILE</span>
                                            tr_file_name="";
                                        } 
                                    }
                            </span>
                        </td> 
                        <td @bgcolor>@record.sfcs_emb_status</td>

                        
                        @{
                        //Date
                        var result_set_new2=db_class.show_result("BEK_DBS_RMW_0001","select distinct  CONVERT(VARCHAR(26), production_date, 23) as production_date from [BEK_DBS_RMW_0001].[dbo].[T_0001_002_FRPLAN] where  production_date between '"+sdate+"' and '"+edate+"' order by production_date");  
                               
                        foreach(var recordnew in result_set_new2)
                        {   
                            check=1;
                            var result_set_new22=db_class.show_result("BEK_DBS_RMW_0001",@"select                             
                            case when min(fa_status)=1 then 'Available' when  min(fa_status)=0 then '"+@record.fab_status+"' when min(fa_status) is null then 'No Plan' end as fa_status,                             case when min(st_status)=1 then 'Available' when  min(st_status)=0 then '"+@record.strim_status+"' when min(st_status) is null then 'No Plan' end as st_status,                             case when min(pt_status)=1 then 'Available' when  min(pt_status)=0 then '"+@record.ptrim_status+"' when min(pt_status) is null then 'No Plan' end as pt_status                              from [dbo].[T_0001_002_FRPLAN] where style='"+@record.style+"' and schedule='"+@record.schedule+"' and color='"+@record.color+"' and production_date='"+@recordnew.production_date+"'");  
                           
                                if(result_set_new22!=null){
                                foreach(var recordnew2 in result_set_new22)
                                {  
                                  
                                   if(recordnew2.fa_status=="No Plan")
                                   {
                                       <td>
                                        <table>
                                        <tr>
                                       <td></td>
                                        <td></td>
                                        <td></td>
                                        
                                        </tr>
                                        </table>
                                    </td>
                                  
                                   }
                                   else
                                   {
                                       <td>
                                        <table>
                                        <tr>
                                       <td  @FSP_STATUS_CODE_CELL_BG(recordnew2.fa_status)>F</td>
                                        <td  @FSP_STATUS_CODE_CELL_BG(recordnew2.st_status)>S</td>
                                        <td  @FSP_STATUS_CODE_CELL_BG(recordnew2.pt_status)>P</td>
                                        
                                        </tr>
                                        </table>
                                    </td>
                                  
                                   }
                                    
                                }
                                }
                                else
                                {
                                    <td>@(@"select                             
                            case when min(fa_status)=1 then 'Available' when  min(fa_status)=0 then '"+@record.fab_status+"' when min(fa_status) is null then 'No Plan' end as fa_status,                             case when min(st_status)=1 then 'Available' when  min(st_status)=0 then '"+@record.strim_status+"' when min(st_status) is null then 'No Plan' end as st_status,                             case when min(pt_status)=1 then 'Available' when  min(pt_status)=0 then '"+@record.ptrim_status+"' when min(pt_status) is null then 'No Plan' end as pt_status                              from [dbo].[T_0001_002_FRPLAN] where style='"+@record.style+"' and schedule='"+@record.schedule+"' and color='"+@record.color+"' and production_date='"+@recordnew.production_date+"'");  
                           )</td>
                                }
                        }
                           
                        }

                    </tr>
                } 
               
            }
        </tbody>
        </table>
        
        <script language="javascript" type="text/javascript">
        //<![CDATA[	
	        var props = {
		        paging: false,
		        sort: true,
		        sort_config: {
			        sort_types:['String','String','String','String','String','String','String','String','US','US','US']
		        },
		        remember_grid_values: false,
		        alternate_rows: true,
		        rows_counter: true,
		        btn_reset: true,
		        btn_reset_text: "Clear",
		        status_bar: true,
		        col_0: "select",
		        col_1: "select",
		        col_2: "select",
                //col_3: "select",
		        //col_4: "select",
                col_5: "select",
                col_8: "select",
		        col_9: "select",
		        col_11: "select",
                col_14: "select",
                col_15: "select",
		        col_16: "select",
		        col_17: "select",
                col_18: "select",
		        display_all_text: "< Show all >",

		
		        /*** Extensions manager ***/
		        extensions: { 
						        /*** Columns Visibility Manager extension load ***/	
						        name:['ColsVisibility'], 
						        src:['~/scripts/TableFilter_EN/TableFilter/TFExt_ColsVisibility/TFExt_ColsVisibility/TFExt_ColsVisibility.js'], 
						        description:['Columns visibility manager'], 
						        initialize:[function(o){o.SetColsVisibility();}] 
					        },
					
		        /*** Columns Visibility Manager extension properties ***/
		        showHide_cols_tick_to_hide: false,
                btn_showHide_cols_html: '<button>Columns manager ▼</button>',  
                btn_showHide_cols_close_html: '<button>Close</button>',  
                showHide_cols_text: 'Check options to hide columns: ',
                btn_showHide_cols_target_id: 'spnColMng', 
                showHide_cols_at_start: [],
		        showHide_cols_text: 'Columns: ',
                showHide_cols_enable_hover: false,
		        showHide_enable_tick_all: true 

               /* showHide_cols_tick_to_hide: false,  
                btn_showHide_cols_target_id: 'spnColMng',  
                showHide_cols_at_start: [],  
                btn_showHide_cols_html: '<button>Columns manager ▼</button>',  
                btn_showHide_cols_close_html: '<button>Close</button>',  
                showHide_cols_text: 'Check options to hide columns: ',  
                showHide_cols_cont_css_class: 'colsMngContainer',  
                showHide_cols_enable_hover: false,  
                on_before_open_cols_manager: hideIESelects,  
                on_after_close_cols_manager: showIESelects */

	        }
	        setFilterGrid("tablefilter",props);
        //]]>
        </script>
          
    </body>
</html>
